html, body{
    height: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

#login{
    display: flex;
    flex-direction: column;
}

.input{
    margin-bottom: 10px;
}
